.hero {
  height: 85vh;
  width: 50%;
}

.hero-body .title {
  color: #fff;
}

#video--left {
  position: fixed;
  top: 50%;
  left: 40%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-60%) translateY(-50%);
  background: url('../assets/snow.png') no-repeat;
  background-size: cover;
}

#video--right {
  position: fixed;
  top: 50%;
  right: 100%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(150%) translateY(-50%);
  background: url('../assets/skate.png') no-repeat;
  background-size: cover;
}

.winter {
  background-color: hsl(217, 71%, 53%);
  background: url('../assets/snow.png') no-repeat;
  background-size: cover;
  z-index: -101;
}

.summer {
  background-color: hsl(171, 100%, 41%);
  background: url('../assets/skate.png') no-repeat;
  background-size: cover;
  z-index: -101;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
  }
}

.footer {
  padding: 2rem 3.5rem 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.125;
}

.none {
  visibility: hidden;
}

.login {
  min-height: 80vh;
}
