 {% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<section class="section">
  <div class="container">
    <h1 class="title has-text-info has-text-centered">Are you sure you want to delete
      <strong class="is-warning">{{sport.name}}</strong>
    </h1>
    <div class="column is-4 is-offset-5">
      <form action="{{ url_for('delete_sport', sport_id=sport.id)}}" method='POST'>
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-danger" type='submit' value='Delete'>
          </div>
          <div class="control">
            <a class="button is-text is-warning" href="{{ url_for('sport_description', sport_id=sport.id)}}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}