<!doctype html>
<html>

<head>
  {% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel=stylesheet type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Catalogue</title>
  {% endblock %}
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1511364552272668',
        cookie: true,
        xfbml: true,
        version: 'v2.11',
      });
    };
    // Load the SDK asynchronously
    (function (d, s, id) {
      let js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = '//connect.facebook.net/en_US/sdk.js';
      fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'facebook-jssdk');
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
      const access_token = FB.getAuthResponse().accessToken;
      console.log(access_token);
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', response => {
        console.log(`Successful login for: ${response.name}`);
        $.ajax({
          type: 'POST',
          url: '/fbconnect?state={{STATE}}',
          processData: false,
          data: access_token,
          contentType: 'application/octet-stream; charset=utf-8',
          success(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html(`Login Successful!</br>${result}</br>Redirecting...`);
              setTimeout(() => {
                window.location.href = '/';
              }, 4000);
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          },
        });
      });
    }
  </script>
</head>

<body>
  <header>
    <nav class="navbar is-light">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <p>Extreme Sports</p>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a {% if request.path=='/winter' %}class="navbar-item is-active" {% endif %} class="navbar-item" href="/winter">
              Winter
            </a>
            <a {% if request.path=='/summer' %}class="navbar-item is-active" {% endif %} class="navbar-item" href="/summer">
              Summer
            </a>
            <span class="navbar-item">
              <!-- <a class="button is-link" onclick="sendTokenToServer()" scope="public_profile,email">
                <span class="icon">
                  <i class="fa fa-facebook"></i>
                </span>
                <span>Login</span>
              </a> -->
              <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
              </fb:login-button>
            </span>
          </div>
        </div>
      </div>
    </nav>

  </header>
  <main>
    <div id="content">{% block content %}{% endblock %}</div>
  </main>
  <!-- Hero footer: will stick at the bottom -->
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered is-vcentered">
        <p>
          <strong>Developed with
            <i class="fa fa-code" aria-hidden="true"></i>
          </strong> by
          <a href="https://github.com/ajames20">Andrew James</a>
        </p>
      </div>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>