<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel=stylesheet type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Extreme Sports</title>
  {% endblock %}

</head>

<body>
  <header>
    <nav class="navbar is-light">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <p>Extreme Sports</p>
          </a>
          <div id="response"></div>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a {% if request.path=='/winter' %}class="navbar-item is-active" {% endif %} class="navbar-item" href="/winter">
              Winter
            </a>
            <a {% if request.path=='/summer' %}class="navbar-item is-active" {% endif %} class="navbar-item" href="/summer">
              Summer
            </a>
            <a {% if request.path=='/sports' %}class="navbar-item is-active" {% endif %} class="navbar-item" href="/sports">
              All Sports
            </a>
            <span class="navbar-item">
              {% if 'username' not in session %}
              <a class="button is-link" id="loginBtn">
                <span class="icon">
                  <i class="fa fa-facebook"></i>
                </span>
                <span>Login</span>
              </a>
              {% else %}
              <a class="button is-link" id="logoutBtn">
                <span>Logout</span>
              </a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div id="content">{% block content %}{% endblock %}</div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="columns" id="flashMessage">
      <div class="column is-half is-offset-one-quarter">
        <article class="message is-link">
          <div class="message-header">
            <p>Information</p>
            <button id="delete" class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body has-text-centered">
            <ul>
              {% for message in messages %}
              <li>
                <strong> {{ message }} </strong>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </article>
      </div>
    </div>
    {% endwith %}
  </main>
  <!-- Hero footer: will stick at the bottom -->
  <div class="foorter-wrapper">
    <footer class="footer">
      <div class="container ">
        <div class="content has-text-centered is-vcentered">
          <p>
            <strong>Developed with
              <i class="fa fa-code" aria-hidden="true"></i>
            </strong> by
            <a href="https://github.com/ajames20">Andrew James</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
  <script>
    const loginBtn = document.getElementById('loginBtn');

    function getUserData() {
      FB.api('/me', response => {
        // document.getElementById('response').innerHTML = `Hello ${response.name}`;
      });
    }

    window.fbAsyncInit = function () {
      // SDK loaded, initialize it
      FB.init({
        appId: '1511364552272668',
        cookie: true,
        xfbml: true,
        version: 'v2.11'
      });

      // check user session and refresh it
      FB.getLoginStatus(response => {
        if (response.status === 'connected') {
          // user is authorized
          // document.getElementById('loginBtn').style.display = 'none';
          getUserData();
        } else {
          // user is not authorized
        }
      });
    };

    // load the JavaScript SDK
    (function (d, s, id) {
      let js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = '//connect.facebook.com/en_US/sdk.js';
      fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'facebook-jssdk');

    // add event listener to login button
    if (loginBtn !== null) {
      loginBtn.addEventListener(
        'click',
        () => {
          // do the login
          FB.login(
            response => {
              if (response.authResponse) {
                // user just authorized your app
                // document.getElementById('loginBtn').style.display = 'none';
                getUserData();
                sendTokenToServer();
              }
            }, {
              scope: 'email,public_profile',
              return_scopes: true
            }
          );
        },
        false
      );
    }

    function sendTokenToServer() {
      const access_token = FB.getAuthResponse().accessToken;
      const loadingButton = document.getElementById('loginBtn');
      // console.log(access_token);
      console.log('Welcome!  Fetching your information.... ');
      loadingButton.classList.add('is-loading');
      FB.api('/me', response => {
        console.log(`Successful login for: ${response.name}`);
        $.ajax({
          type: 'POST',
          url: '/fbconnect?state={{STATE}}',
          processData: false,
          data: access_token,
          contentType: 'application/octet-stream; charset=utf-8',
          success(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              setTimeout(() => {
                window.location.href = '/sports';
              }, 2000);
            } else {
              console.log("Error Logging in")
            }
          }
        });
      });
    }
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>