{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<section class="section">
  <div class="container">
    <h1 class="title has-text-info">{{sport_id.name}}</h1>
    <div class="section">
      <figure class="image is-3by2">
        <img src="{{sport_id.image_link}}" alt="{{sport_id.name}}">
      </figure>
    </div>
    <p>{{sport_id.description}}
      <a href={{sport_id.description_link}} target="_blank">Wikipedia</a>
    </p>
  </div>
</section>
{% endblock %}